@import url("../../assets/fonts/fontawesome/all/all.min.css") all;
:host {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fromLeftToRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

.-app-goal-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    transition: .2s;
    user-select: none;
    opacity: 0.9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 2px solid rgba(59, 59, 59, 0.8);
    background-color: rgba(223, 222, 228, 1);
    color: rgba(59, 59, 59, 1);
    &:hover {
        opacity: 1;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    }
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0px;
        border-bottom: 2px solid rgba(59, 59, 59, 0.8);
        font-style: italic;
        font-size: 28px;
    }
    &__search {
        border-bottom: 2px solid rgba(59, 59, 59, 0.8);
        width: 100%;
        &-input {
            width: 100%;
            padding: 20px 0px;
            outline: none;
            border: none;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.8);
            background-color: rgba(223, 222, 228, 1);
            color: rgba(59, 59, 59, 1);
            letter-spacing: 0.5px;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
            &:focus {
                box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.8);
            }
        }
    }
    &__add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        &-button {
            width: 150px;
            padding: 12px;
            transition: .2s;
            cursor: pointer;
            outline: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            border-radius: 30px;
            border: 1.5px solid rgba(59, 59, 59, 0.8);
            background-color: rgba(59, 59, 59, 0.15);
            color: rgba(59, 59, 59, 1);
            font-size: 16px;
            font-weight: 600;
            &[disabled] {
                cursor: default;
                box-shadow: none;
                color: rgba(59, 59, 59, 0.3);
                &:hover {
                    box-shadow: none;
                    color: rgba(59, 59, 59, 0.3);
                }
            }
            &:hover {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
            }
        }
    }
    &__sort {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(4%, -50%);
        width: 60px;
        height: 100px;
        overflow: hidden;
        &-style {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
            width: 65px;
            height: 90px;
            border-radius: 25%;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            border: 2px solid rgba(59, 59, 59, 0.8);
            background-color: rgba(223, 222, 228, 1);
            &_from-left-to-right {
                animation: fromLeftToRight .2s;
            }
        }
        &-button {
            padding: 0px;
            transition: .2s;
            cursor: pointer;
            outline: none;
            border: none;
            background: none;
            color: rgba(59, 59, 59, 0.8);
            font-family: 'Font Awesome 5 free', 'Font Awesome 5 brands';
            font-size: 26px;
            font-weight: 900;
            &[disabled] {
                cursor: default;
                color: rgba(59, 59, 59, 0.3);
                &:hover {
                    color: rgba(59, 59, 59, 0.3);
                }
            }
            &:hover {
                color: rgba(38, 56, 89, 1);
            }
            &_top {
                position: absolute;
                top: 15%;
                left: 60%;
                &::before {
                    content: '\f0de';
                }
            }
            &_bottom {
                position: absolute;
                top: 20%;
                left: 60%;
                &::before {
                    content: '\f0dd';
                }
            }
            &_clean {
                position: absolute;
                bottom: 15%;
                left: 62%;
                font-size: 16px;
                &::before {
                    content: '\f1f8';
                }
            }
        }
    }
}