<div class="-app-contact">
    <div class="-app-contact__company">
        <span  class="-app-contact__company-icon"></span>
        <h2 class="-app-contact__company-title">
            flexik-goals
        </h2>
    </div>
    <div class="-app-contact__link-list">
        <a class="-app-contact__link" href="tel:+375447860634">
            <span class="-app-contact__link-icon -app-contact__link-icon_tel"></span>
            <span class="-app-contact__link-title">
                    +375-44-786-06-34
            </span>
        </a>
        <a class="-app-contact__link" href="mailto:egor.samuilenok@gmail.com">
            <span class="-app-contact__link-icon -app-contact__link-icon_message"></span>
            <span class="-app-contact__link-title">
                   egor.samuilenok@gmail.com
            </span>
        </a>
        <a class="-app-contact__link" href="https://vk.com/id182133074" target="_blank">
            <span class="-app-contact__link-icon -app-contact__link-icon_vk"></span>
            <span class="-app-contact__link-title">
                    vk.com/id182133074
            </span>
        </a>
    </div>
</div>
