<div class="-app-about">
    <h2 class="-app-about__header">Take information about whom you want!</h2>
    <div class="-app-about__item-menu">
        <div class="-app-about__item">
            <a class="-app-about__item-link" 
                routerLink="/about/me" 
                routerLinkActive="active">
                About me
            </a>
        </div>
        <div class="-app-about__item">
            <a class="-app-about__item-link" 
                routerLink="/about/us" 
                routerLinkActive="active">
                About us
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

