.-app-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(59, 59, 59, 1);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    &__title {
        margin: 0px;
        margin-bottom: 20px;
        font-style: italic;
        font-size: 40px;
    }
    &__subtitle {
        margin: 0px;
        font-size: 34px;
    }
}